html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 16px;
    background-color: var(--var1);
}

a {
  color: inherit;
  text-decoration: none;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
html{
  font-size: 64.2%;
}
@media  screen and (min-width:1400px) {
  html{
  font-size: 70.2%;
}  
}
@media  screen and (max-width:1250px) {
  html{
  font-size: 60.2%;
}  
}
@media  screen and (max-width:992px) {
  html{
  font-size: 54.2%;
}  
}
@media  screen and (max-width:768px) {
  html{
  font-size: 48.2%;
}  
}
@media  screen and (max-width:576px) {
  html{
  font-size: 42.2%;
}  
}
@media  screen and (max-width:370px) {
  html{
  font-size: 35.2%;
} 
}
